# Created by https://www.gitignore.io

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env

/vendor
/node_modules
.env

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
